*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
   font-size: 1.8rem;
   font-weight: 300; 
}

img{
    width: 100%;
}

header{
    width: 100%;
    height: 100vh;
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh; 
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 2rem;
}

.nav-link{
    font-family: 'The Historia Demo';
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: trasform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #ffe838, #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}
.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: trasform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: trasform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 20rem;
    font-family: 'The Historia Demo', sans-serif;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}



.about-heading h1{
    font-size: 10rem;
    opacity: .3
    ;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex: 1;
}

.social-media{
    margin-top: 5rem;
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}

.fa-github-square:hover{
    color: black;
}

.fa-facebook-square:hover{
    color: #4267b2;
}

.fa-twitter-square:hover{
    color: #38a1f3;
}

.col-lg-4{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
    padding: 30px;
}

.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}





.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.bg-success {
    background-color: #eb0c0c!important;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    white-space: nowrap;
    background-color: #ff7300;
    transition: width .6s ease;
}