 html {
     scroll-behavior: smooth;
 }

 body {
     margin: 0;
     padding: 0;
 }

 #section1{
    color: white;
    height: 900px;
    display: inline-block;
    width: 100%;
}

#section2{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}

#section3{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}

#section4{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}

#section5{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}
.home_name{
    position: absolute;
    color: white;
    width: 30%;
    top: 0px;
    left: 30px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    animation-name: name;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes name {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.home_aboutMe_des{
    position: absolute;
    height: 250px;
    left: 50px;
}

.home_aboutMe_des p {
    font-size:3em;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
 
@keyframes heading {
    0% {top: -1000px;}
    100% {top: 140px;}
}

.home_aboutMe p{ 
    top: 350px;
    position: absolute;
    font-size:1.25em;
    left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content{
    0% {left: -1000px;}
    100% {left: 50px;}
}

.about_me_title {
    position: absolute;
    height: 200px;
    left: 50px;
}

.about_me_title p {
    top: 0px;
    font-size:3em;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.about_me{
    font-size:1.25em;
    left: 30px;
    top: 1300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.social_media {
    position: absolute;
    opacity: 0;
    left: 43px;
    animation-name: media;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

@keyframes  media {
    0% {opacity: 0}
    100% {opacity: 1}
} 

.navigation {
    position: absolute;
    overflow: hidden;
    top: 15px;
    left: 800px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    animation-name: navi;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
} 

li{
    float: left;
}

@keyframes navi {
    0% {opacity: 0}
    100% {opacity: 1}
}

a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    
}

a:hover {
    opacity: 0.6;
}


body{
    background: rgb(6,3,55);
    background: linear-gradient(90deg, rgba(6,3,55,1) 0%, rgba(45,139,163,1) 100%);
}

.github {
    position: absolute;
    left: 0px;
    top: 410px;
}

.github:hover{
    opacity: 0.6;
}

.linkedin {
    position: absolute;
    left: 45px;
    top: 410px;
}

.linkedin:hover { 
    opacity: 0.6;    
}

.facebook {
    position: absolute;
    left: 90px;
    top: 410px;
}

.facebook:hover { 
    opacity: 0.6;    
}

.twitter {
    position: absolute;
    left: 135px;
    top: 410px;
}

.twitter:hover { 
    opacity: 0.6;    
}

.medium {
    position: absolute;
    left: 185px;
    top: 410px;
}

.medium:hover { 
    opacity: 0.6;    
}

.instagram {
    position: absolute;
    left: 230px;
    top: 410px;
}

.instagram:hover { 
    opacity: 0.6;    
}

.contact p {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    opacity: 0.7;
    left: 50px;
    top: 3200px;
}
.contact h1 {
    position: absolute;
    left: 50px;
    top: 3150px;
    }

.address p {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    opacity: 0.7;
    left: 50px;
    top: 3400px;
}
.address h1{
    position: absolute;
    left: 50px;
    top: 3350px;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.bg-success {
    background-color: #eb0c0c!important;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ff7300;
    transition: width .6s ease;
}

.title_bg{
    position: absolute;
    top: 1150px;
    left: 50%;
    left: 50vw;
    line-height: 12rem;
    margin-bottom: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
            transform: translateX(-50%) translateY(-50%) scale(1.2);
    text-transform: uppercase;
    opacity: 0.1;
    font-weight: bold;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 7rem;
    letter-spacing: -0.075em;
    z-index: -1; 
}


.title_bg_skills{
    position: absolute;
    top: 1850px;
    left: 50%;
    left: 50vw;
    line-height: 12rem;
    margin-bottom: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
            transform: translateX(-50%) translateY(-50%) scale(1.2);
    text-transform: uppercase;
    opacity: 0.1;
    font-weight: bold;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 7rem;
    letter-spacing: -0.075em;
    z-index: -1; 
}

.title_bg_pro{
    position: absolute;
    top: 2600px;
    left: 50%;
    left: 50vw;
    line-height: 12rem;
    margin-bottom: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
            transform: translateX(-50%) translateY(-50%) scale(1.2);
    text-transform: uppercase;
    opacity: 0.1;
    font-weight: bold;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 7rem;
    letter-spacing: -0.075em;
    z-index: -1; 
}

.title_bg_con{
    position: absolute;
    top: 3250px;
    left: 50%;
    left: 50vw;
    line-height: 12rem;
    margin-bottom: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
            transform: translateX(-50%) translateY(-50%) scale(1.2);
    text-transform: uppercase;
    opacity: 0.1;
    font-weight: bold;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 7rem;
    letter-spacing: -0.075em;
    z-index: -1; 
}