 html {
     scroll-behavior: smooth;
 }

 body {
     margin: 0;
     padding: 0;
 }

 #section1{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}

#section2{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}

#section3{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}

#section4{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}

#section5{
    color: white;
    height: 700px;
    display: inline-block;
    width: 100%;
}
.home_name{
    position: relative;
    color: white;
    width: 30%;
    top: -10px;
    left: 30px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    animation-name: name;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes name {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.home_aboutMe_des{
    height: 200px;
    left: 100px;
}

.home_aboutMe_des p {
    font-size:3em;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
 
@keyframes heading {
    0% {top: -1000px;}
    100% {top: 140px;}
}

.home_aboutMe{
    font-size:1.25em;
    left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content{
    0% {left: -1000px;}
    100% {left: 0;}
}

.social_media {
    position: relative;
    opacity: 0;
    animation-name: media;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

@keyframes  media {
    0% {opacity: 0}
    100% {opacity: 1}
} 

.navigation {
    position: fixed;
    overflow: hidden;
    width: 60%;
    top: 15px;
    left: 800px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    animation-name: navi;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
} 

li{
    float: left;
}

@keyframes navi {
    0% {opacity: 0}
    100% {opacity: 1}
}

a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    
}

a:hover {
    opacity: 0.6;
}


body{
    background: rgb(6,3,55);
    background: linear-gradient(90deg, rgba(6,3,55,1) 0%, rgba(45,139,163,1) 100%);
}

.github:hover{
    opacity: 0.6;
}

.linkedin {
    position: relative;
    left: 45px;
    top: -65px;
}

.linkedin:hover { 
    opacity: 0.6;    
}

.facebook {
    position: relative;
    left: 90px;
    top: -130px;
}

.facebook:hover { 
    opacity: 0.6;    
}

.twitter {
    position: relative;
    left: 135px;
    top: -193px;
}

.twitter:hover { 
    opacity: 0.6;    
}

.medium {
    position: relative;
    left: 185px;
    top: -257px;
}

.medium:hover { 
    opacity: 0.6;    
}

.instagram {
    position: relative;
    left: 230px;
    top: -322px;
}

.instagram:hover { 
    opacity: 0.6;    
}


